</html><!DOCTYPE html>
<html lang="en-US">
<head>
 <title>Practicing Websites Link/Images</title>
 <meta charset="utf-8">
</head>
<body>
<br>
<h1><i>Website Links practice/<i>/<h1>

<nav>

<p><span style="color:blue;">blue</span>https://www.youtube.com/watch?v=bAdqazixuRY&list=RDbAdqazixuRY&start_radio=1</p>

/<nav>
<!-- Trying to put in a Youtube link -->

</html>
