</html><!DOCTYPE html>
<html lang="en-US">
<head>
 <title>Practicing Websites Link/Images</title>
 <meta charset="utf-8">
</head>
<br>
<body>
<h1><i>Website Links practice/<i>/<h1>
<p>First test with a video:</p>

<a href>"https://www.youtube.com/watch?v=bAdqazixuRY&list=RDbAdqazixuRY&start_radio=1">Youtube Link</a>
<!-- Trying to put in a Youtube link -->
</body>
</html>
